/* on indique le liens pour la police*/
body{
    font-family: 'Eczar', serif;
    background-color: white;
}
/*content and layout of my header*/
header{
    background-image: url("circuit imprimé blue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: absolute;
    top : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*creation of a gradiant on the background image of header*/
.backgroundlinear {
    width: 100%;
    background: linear-gradient(178deg, #1c4360, transparent);
    

}
/*layout and color of my article title*/
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


}
/*layout of my contact*/
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}
/*link color*/
.contact a{
    color: white;
}
/*layout of the bottom of my header*/
.layoutsearchlogos{
    display: flex;
    flex-direction: row;
}
/*layout of logos*/
.logos{
    width: 100%;
    display: flex;
    flex-direction: column;

}

/*size of logos*/
.logos img{
    margin : 8px;
    height:30px;
    width: 30px;
}
/*layout of text logos*/
.logos span{
    display: flex;
    align-items: center;
    color: white;
    margin: 08px;
}
/*content of my message search*/
.search{
    color: white;
    width: fit-content;
    height: fit-content;
    background-color: rgb(115 192 231 / 37%);
    display: flex;
    padding: 15px;
    border-radius: 24px;
    margin: 10px;
}
